/build/*
!/build/.gitkeep
/include/glm-1.0.2
learnOpenGL.exe
learnOpenGL

.vscode
localData/saveData.sv
/localData
libs/assimp/

/resources/textures/textures
resources/models/DgnObj_DLC_IbutsuEx_A_01.dae
resources/models/collision.fbx
